#alert{
   padding: 18px;
}

#alert .container{
  background-color: #a009097a;
}

#alert .weatherAlert{
  background-color: white;
  color: black;
}

#alert .weatherAlert h3{
  font-size: x-large;
}

#alert .detailAlert h3{
  font-size: large;
}