

#weather{
  padding: 18px;
}

#weather .container{
  background-color: #616161ad;
  margin-top: 25px;
  box-shadow: 1px 2px 20px 0px #000;
  text-align: center;
}

#weather .dayTime{
  background: white;
  color: black;
  font-size: large;
}
#weather .dayWeather{
  margin-bottom: 10px;
}
#weather .weatherTemp{
  align-self: center;
  font-size: large;
}

#weather .weatherDescri{
  align-self: center;
}
#weather .detailsWeather{
    background: #34313a;
    padding: 10px;
}
#weather .detailsWeather h3{
  font-size: large;
}

.weatherHour{
  display: flex;
  flex-direction: column;
  background-color: rgb(0 0 0 / 55%);
  padding-top: 10px;

}

.weatherHour img{
  width: 80%;
  margin: 0 auto;
  background-color: #adadad8c;
  border-radius: 50%;
}

.slick-slide{
  padding: 5px;
}

.tempDay{
  margin: 10px 0 10px 0;
  display: block;
  font-size: large;
}
.timeDay{
  display: block;
  background: black;
}