@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


#city{
  margin-top: 10px; 
  text-align: center;
}
#menu {
  position: sticky;
  top: 0px;
  z-index: 100;
  align-content: center;
  padding: 30px;
}

.menu{
  margin-top: 20px;
  margin-bottom: 20px;
}
#titulo{
  font-family: 'Poppins', sans-serif;
}

button, input, optgroup, select, textarea{
  width: 100%;
  text-align: center;
  height: 30px;
}
.hora{
  color: black;
}
.semana{
  color: black
}
.disable {
  display: none;
}

#datalistOptions .cityOption{
  background-color: white;
}

#datalistOptions .cityOption button{
  background-color: white;
  border:none;
}

#datalistOptions .cityOption button:hover{
  background-color: rgba(218, 0, 0, 0.371);
  border:none;
  
}
.card-body{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  #menu .header {
    display: flex;
    flex-direction: column;
  }
    #titulo{
      text-align: center;
      padding-bottom: 20px;
    }
}