#city{
  margin-top: 10px; 
  text-align: center;
}
#menu {
  position: sticky;
  top: 0px;
  z-index: 100;
  padding-top: 20px;
}

.menu{
  margin-top: 20px;
  margin-bottom: 20px;
}

.hora{
  color: black;
}
.semana{
  color: black
}
.disable {
  display: none;
}

#datalistOptions .cityOption{
  background-color: white;
}

#datalistOptions .cityOption button{
  background-color: white;
  border:none;

}

#datalistOptions .cityOption button:hover{
  background-color: rgba(218, 0, 0, 0.371);
  border:none;
  
}